{% extends 'base.html' %}
{% load static %}
{% block title %}
    Password Change
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/users/password_change.css' %}">
{% endblock %}

{% block content %}
    <div class="form">
        <form action="{% url 'users:password-change' %}" method="post">
            <h1 id="password-change-header">Password change form</h1>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.label_tag }} {{ field }}
            {% endfor %}
            <input type="submit" value="Change password" id="change-password">
        </form>
    </div>
{% endblock %}
