{% extends 'base.html' %}
{% load static %}
{% block title %}
    Operation category create
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/finances/operation_create.css' %}">
{% endblock %}

{% block content %}
    <div class="form">
        <form action="{% url 'finances:operation-category-update' operationcategory.pk %}"
              method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.label_tag }} {{ field }}
            {% endfor %}
            <input type="submit" value="Update category"
                   id="operation-create">
        </form>
    </div>
{% endblock %}
