@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

html {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    cursor: pointer;
    color: #4ac1f7;
}