{% extends 'base.html' %}
{% load static %}
{% block title %}
    Operation categories list
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/finances/operations_list.css' %}">
{% endblock %}

{% block content %}
    <a href="{% url 'finances:operation-category-create' %}" class="create-operation">
        Create new operation category
    </a>
    <div class="content">
        {% for category in operation_categories_list %}
            <div class="operation">
                <div class="operation-header">
                    <h2>{{ category.title }}</h2>
                    <i class="fas fa-edit">
                        <a href="#" class="edit-operation"></a>
                    </i>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
